body{
    margin: 0;
    font-family: sans-serif;
    background-color: #04091A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    min-height: 60px;
    background-color: rgb(9, 15, 66);
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.logo{
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}

.banner{
    position: static;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F5F5F5;
    background-size: 100%;
    background-position: center;
    background-image: url(../assets/qatar-3.webp);
    transition: all .1s ease-in-out;
    animation: banner 15s infinite linear;
}

.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgb(0, 22, 40, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 10px;
}

.banner-title {
    font-size: 34px;
}
.banner-subtitle {
    font-size: 26px;
}

@keyframes banner{
    0%{
        background-image: url(../assets/qatar-1.jpg);
    }
    25%{
        background-image: url(../assets/qatar-1.jpg);
    }
    26%{
        background-image: url(../assets/qatar-2.jpeg);
    }
    50%{
        background-image: url(../assets/qatar-2.jpeg);
    }
    51%{
        background-image: url(../assets/qatar-3.webp);
    }
    75%{
        background-image: url(../assets/qatar-3.webp);
    }
    76%{
        background-image: url(../assets/qatar-4.jpeg);
    }
    100%{
        background-image: url(../assets/qatar-4.jpeg);
    }
}

nav a{
    font-weight: 600;
    padding-right: 40px;
}

nav a:hover{
    color: #80000A;
}

.featured {
    background-color: #210B0B;
    color: #fff;
}

.selections-title {
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
}

.featured-item {
    background-color: #4D3C3C;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    border: .5px #fff solid;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    min-height: 10%;
    flex: nowrap;
    margin: 10px auto;
    width: 80%;
}

.featured-paragraph {
    font-size: 14px;
    text-align: center;
}

.featured-image {
    max-width: 40%;
    margin: 20px auto;
}

@media (max-width:700px){
    header{
      flex-direction: column;  
    }
    .banner-title {
        font-size: 26px;
    }
    .banner-subtitle {
        font-size: 22px;
    }

    .banner-content{
        align-items: center;
    }
    .featured-item {
        flex-wrap: wrap;
    }
    
}

.arrow {
    border-radius: 50%;
    background-color: #450707;
    padding: 5px;
    font-size: 15px;
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1000;
}

.arrow-animation {
  
    animation-name: arrow;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:arrow;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes arrow{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes arrow {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes arrow {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }